n8n/workflows/payment_handler.json
{
  "name": "Payment Handler - Chuwue Grill",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payment-webhook",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Acceder a los datos recibidos\nconst input = $input.all()[0] || {};\nconst payload = input.json || {};\nconst data = payload.data || {};\n\n// Extraer IDs - buscar en diferentes lugares\nconst paymentId = payload.payment_id || data.transaction_id || data.payment_id || payload.id || data.id;\n\n// Extraer event_type\nconst eventType = payload.event_type || payload.type || data.event_type || data.type;\n\n// Log simple para debugging\nconsole.log('Event Type:', eventType);\nconsole.log('Payment ID:', paymentId);\n\nif (!paymentId) {\n  throw new Error('Falta payment_id o transaction_id');\n}\n\nif (!eventType) {\n  throw new Error('Falta event_type');\n}\n\n// Normalizar evento\nconst normalizedEvent = {\n  payment_id: paymentId,\n  event_type: eventType,\n  status: data.status || 'unknown',\n  amount: data.amount || 0,\n  currency: data.currency || 'USD',\n  timestamp: payload.timestamp || new Date().toISOString(),\n  customer_email: data.customer_email || '',\n  metadata: payload.metadata || {}\n};\n\nreturn [{ json: normalizedEvent }];"
      },
      "id": "validate-payload",
      "name": "Validar Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event_type }}",
              "value2": "payment.success"
            }
          ]
        }
      },
      "id": "check-success",
      "name": "¿Pago Exitoso?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:8000/reservas/activate",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "payment_id",
              "value": "={{ $json.payment_id }}"
            }
          ]
        }
      },
      "id": "activate-service",
      "name": "Activar Servicio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/broadcast",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "payment_confirmed"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify($json) }}"
            }
          ]
        }
      },
      "id": "notify-websocket",
      "name": "Notificar WebSocket",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:8002/partners/notify",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event_type",
              "value": "payment.success"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify($json) }}"
            }
          ]
        }
      },
      "id": "notify-partner",
      "name": "Webhook a Partner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'ok', message: 'Payment processed', payment_id: $json.payment_id } }}"
      },
      "id": "response-success",
      "name": "Respuesta Exitosa",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'logged', message: 'Non-success event logged' } }}"
      },
      "id": "response-logged",
      "name": "Evento Registrado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Validar Payload", "type": "main", "index": 0 }]
      ]
    },
    "Validar Payload": {
      "main": [
        [{ "node": "¿Pago Exitoso?", "type": "main", "index": 0 }]
      ]
    },
    "¿Pago Exitoso?": {
      "main": [
        [{ "node": "Activar Servicio", "type": "main", "index": 0 }],
        [{ "node": "Evento Registrado", "type": "main", "index": 0 }]
      ]
    },
    "Activar Servicio": {
      "main": [
        [{ "node": "Notificar WebSocket", "type": "main", "index": 0 }]
      ]
    },
    "Notificar WebSocket": {
      "main": [
        [{ "node": "Webhook a Partner", "type": "main", "index": 0 }]
      ]
    },
    "Webhook a Partner": {
      "main": [
        [{ "node": "Respuesta Exitosa", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "payments" },
    { "name": "webhooks" }
  ]
}
